<div>
    <accordion close-others="">
        <accordion-group heading="Filters" is-open="true">

            <accordion close-others="oneAtATime">
                <accordion-group heading="Award Date Range" is-open="true">
                    <div range-slider min="1975" max="2020" model-min="analytics.filterSetting.awardMinRange" model-max="analytics.filterSetting.awardMaxRange"></div>
                    {{analytics.filterSetting.awardMinRange}}
                    <br>
                    {{analytics.filterSetting.awardMaxRange}}
                </accordion-group>
            </accordion>

            <!--<accordion close-others="oneAtATime">
                <accordion-group heading="Award Status"is-open="true">
                    <div>
                        <div class="btn-group">
                            <label class="btn btn-info btn-xs" ng-model="analytics.filterSetting.awardStatusAccepted" btn-checkbox ng-class="{ 'btn-danger': analytics.filterSetting.awardStatusAccepted===false }">Accepted</label>
                            <label class="btn btn-info btn-xs" ng-model="analytics.filterSetting.awardStatusRejectedClosed" btn-checkbox ng-class="{ 'btn-danger': analytics.filterSetting.awardStatusRejectedClosed===false }">Rejected/Closed</label>
                        </div>
                    </div>
                </accordion-group>
            </accordion>-->

            <accordion close-others="oneAtATime">
                <accordion-group heading="Award Amount"is-open="true">
                    <div range-slider min="100000" max="30000000" model-min="analytics.filterSetting.awardMinAmount" model-max="analytics.filterSetting.awardMaxAmount"></div>
                    {{analytics.filterSetting.awardMinAmount}}
                    <br>
                    {{analytics.filterSetting.awardMaxAmount}}
                </accordion-group>
            </accordion>

            <accordion close-others="oneAtATime">
                <accordion-group heading="Award Facet"is-open="true">
                    <div>
                        <div class="btn-group">
                            <label class="btn btn-xs" ng-model="analytics.filterSetting.facet" btn-radio="analytics.treemapLabels[0]" ng-class="{ 'btn-info': analytics.filterSetting.facet===analytics.treemapLabels[0]}">{{analytics.treemapLabels[0]}}</label>
                            <label class="btn btn-xs" ng-model="analytics.filterSetting.facet" btn-radio="analytics.treemapLabels[1]" ng-class="{ 'btn-info': analytics.filterSetting.facet===analytics.treemapLabels[1]}">{{analytics.treemapLabels[1]}}</label>
                            <label class="btn btn-xs" ng-model="analytics.filterSetting.facet" btn-radio="analytics.treemapLabels[2]" ng-class="{ 'btn-info': analytics.filterSetting.facet===analytics.treemapLabels[2]}">{{analytics.treemapLabels[2]}}</label>
                        </div>
                    </div>
                </accordion-group>
            </accordion>

            <!--<accordion close-others="oneAtATime">
                <accordion-group heading="Treemap Cells Size"is-open="true">
                    <div>
                        <div class="btn-group">
                            <label class="btn btn-xs" ng-model="analytics.filterSetting.treemapWeight" btn-radio="analytics.treemapWeight[0]" ng-class="{ 'btn-info': analytics.filterSetting.treemapWeight===analytics.treemapWeight[0]}">{{analytics.treemapWeight[0]}}</label>
                            <label class="btn btn-xs" ng-model="analytics.filterSetting.treemapWeight" btn-radio="analytics.treemapWeight[1]" ng-class="{ 'btn-info': analytics.filterSetting.treemapWeight===analytics.treemapWeight[1]}">{{analytics.treemapWeight[1]}}</label>
                        </div>
                    </div>
                </accordion-group>
            </accordion>-->

            <!--<label class="btn btn-md btn-warning" ng-click="analytics.resetFilters()">Reset</label>-->
            <!--<input type="submit" value="Draw Treemap" class="btn btn-md btn-success">-->
        </accordion-group>
    </accordion>
</div>
