.benchmarkBox{
   border: 2px solid;
	border-color:#C3C3E5;
	background-color:#F1F0FF;
	margin-top: 10px;
	padding:5px;
	border-radius:10px;
}

.clickableText{
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
	cursor: pointer;
}

.niceScroll::-webkit-scrollbar {
    width: 12px;
}

.niceScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0); 
	 border-radius:10px;
}
 
.niceScroll::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.8); 
	 border-radius: 10px;
}

.niceScroll::-webkit-scrollbar {
    width: 8px;
}

.max-screen{
	width: 100%;
	height: 100%;
	overflow:hidden;
}
.h4-big-margin{
	margin-top:5px;
	margin-bottom: 18px;
}

.label-bigPadding{
	padding: .7em .6em;
}
/* add new color to bootstrap primary */

.label-primary{
	background-color : rgb(107,76,155);
}

.btn-primary{
	color: #fff;
	background-color: rgb(107,76,155);
	border-color: #3a1675;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #4F2D84;
	border-color: #3a1675;
}