.benchmarkBox{
   border: 2px solid;
	border-color:#C3C3E5;
	background-color:#F1F0FF;
	margin-top: 10px;
	padding:5px;
	border-radius:10px;
}


.niceScroll::-webkit-scrollbar {
    width: 12px;
}

.niceScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0); 
	 border-radius:10px;
}
 
.niceScroll::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.8); 
	 border-radius: 10px;
}

.niceScroll::-webkit-scrollbar {
    width: 8px;
}

.max-screen{
	width: 100%;
	height: 100%;
}