<script type="text/javascript">

		$(document).ready(function () {
			// main layout
			$('#layoutDiv').layout({south__size:"58",east__size:"11%",east__minSize:"150",east__maxSize:"200",west__size:"11%",west__minSize:"150",west__maxSize:"200",resizable:false});
			// west and east representation area			
			westRepresentationLayout = $('#representationDiv').layout({west__size:"50%",resizable:true}); 
			// north and south representatin areas
			southRepresentationLayout = $('#eastRepresentationDiv').layout({south__size:"50%", resizable:true});
			$('#westRepresentationDiv').layout({south__size:"50%",resizable:true });
			// hide multi view
			westRepresentationLayout.hide('west');
			southRepresentationLayout.hide('south')
		});
		
</script>

<div id="layoutDiv" style="position:absolute; width:100%; height:100%; overflow:hidden;">
	
	<div class="ui-layout-north" style="overflow:hidden;">
		<h4 style="color:rgb(107,76,155); font-family: 'Lobster', cursive; font-size: 250%;">Science Priorities</h4>
		<a href="javascript:window.location='logout';" style="position:absolute; right:10px; top:5px;"><img src="/assets/images/logout.png" alt="Logout" height="42" width="142" ></a>
	</div>
	
	<div  id="representationDiv" class="ui-layout-center" ng-controller="CenterController" style="padding:0px;">
		
		<div id="eastRepresentationDiv" class="ui-layout-center" style="padding:0px;">
			<div class="ui-layout-center" ng-drop="true" ng-drop-success="onDropComplete('screen1',$event)" x-lvl-drop-target='true' x-on-drop='dropped(dragEl, dropEl)' style="padding:0px;">
				<div class="max-screen" id="screen1" ng-controller="layoutController" >
			
				</div>
			</div>
			<div class="ui-layout-south" ng-drop="true" ng-drop-success="onDropComplete('screen2',$event)" x-lvl-drop-target='true' x-on-drop='dropped(dragEl, dropEl)' style="padding:0px;">
				<div class="max-screen" id="screen2" ng-controller="layoutController" >
			
				</div>
			</div>
		</div>
		<div id="westRepresentationDiv" class="ui-layout-west" style="padding:0px;">
			<div class="ui-layout-center" ng-drop="true" ng-drop-success="onDropComplete('screen3',$event)" x-lvl-drop-target='true' x-on-drop='dropped(dragEl, dropEl)' style="padding:0px;">
				<div class="max-screen" id="screen3" ng-controller="layoutController" >
			
				</div>
			</div>
			<div class="ui-layout-south" ng-drop="true" ng-drop-success="onDropComplete('screen4',$event)" x-lvl-drop-target='true' x-on-drop='dropped(dragEl, dropEl)' style="padding:0px;">
				<div class="max-screen" id="screen4" ng-controller="layoutController" >
			
				</div>
			</div>
		</div>
		
		<div class="btn-group" style="position:absolute; bottom:2px; left:3px; opacity: 0.8;">
			<label class="btn btn-primary" ng-model="multiViewModel" btn-radio="'single'" uncheckable onclick="westRepresentationLayout.hide('west');southRepresentationLayout.hide('south')" >Single View</label>
			<label class="btn btn-primary" ng-model="multiViewModel" btn-radio="'multi'" uncheckable onclick="westRepresentationLayout.show('west');southRepresentationLayout.show('south')">Multi View</label>
		</div>
	
	</div>
	
	
	<div class="ui-layout-east niceScroll"style="padding:0px;">
		<h6 align="center" >Benchmarking</h6>
		<accordion close-others="0">
			<accordion-group ng-repeat="benchmarkingEntity in benchmarkingEntities" is-open="benchmarkingEntity.isOpen" >
				<accordion-heading>
					{{benchmarkingEntity.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': benchmarkingEntity.isOpen, 'glyphicon-chevron-left': !benchmarkingEntity.isOpen}"></i>
				</accordion-heading>
		  
				<h4 ng-drag="true" class="h4-big-margin" x-lvl-draggable='true' ng-repeat="property in benchmarkingEntity.properties" selectedEntity="{{benchmarkingEntity.name}}" selectedProperty="{{property}}">
					<span class="label label-primary label-bigPadding">{{property}}</span>
				</h4>
			</accordion-group>
		</accordion>
	</div>
	
	<div class="ui-layout-west">
		<h6 align="center" >Advanced Visualization</h6>
		<accordion close-others="0">
			<accordion-group ng-repeat="advancedLayout in advancedLayouts" is-open="advancedLayout.isOpen" >
				<accordion-heading>
					{{advancedLayout.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': advancedLayout.isOpen, 'glyphicon-chevron-left': !advancedLayout.isOpen}"></i>
				</accordion-heading>
				
				<h4 ng-drag="true" class="h4-big-margin" x-lvl-draggable='true' ng-repeat="property in advancedLayout.properties" selectedType="Advanced" selectedEntity="{{advancedLayout.name}}" selectedProperty="{{property}}">
					<span class="label label-primary label-bigPadding">{{property}}</span>
				</h4>
			</accordion-group>
		</accordion>
	</div>
	
	<div class="ui-layout-south" align="center">
		<img src="assets/images/science_logo.png">
	</div>

</div>