/*treemap styles*/
.chart {
    display: block;
    margin: auto;
    margin-top: 0px;
}

.treemap text {
    font: 9px sans-serif;
		 pointer-events: none;
}

.treemap rect {
    fill: none;
		pointer-events: all;
    cursor: pointer;
    stroke: #EEEEEE;
}

#chart {
    width: 960px;
    height: 500px;
    background: #ddd;
}


.grandparent text {
    font-weight: bold;
}

rect.parent,
.grandparent rect {
    stroke-width: 2px;
}

.grandparent rect {
    fill: orange;
}

.grandparent:hover rect {
    fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

.children rect.parent {
    fill: #bbb;
    fill-opacity: .5;
}

.children:hover rect.child {
    fill: #bbb;
}



/*new treemap css*/

.chart {
    display: block;
    margin: auto;
}

.label {
    stroke: #000000;
    fill: #000000;
    stroke-width: 0;
    margin: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.parent .label {
    font-size: 7px;
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.child .label {
    font-size: 11px;
}

.cell {
    font-size: 11px;
    cursor: pointer
}
