.compareD.nodes{

}
.compareD.link{
	stroke: #999;
}
.compareD.texts{
	text-anchor: middle;
	pointer-events : none;
}

.compareD.selectLi{
	list-style: none;
}
.compareD.selectLi:before{
  /* For a round bullet */
  /* content: '\2022'; */
  /* For a square bullet */
  content:'\25A0';
  display: block;
  position: relative;
	float:left;
  max-width: 0;
  max-height: 0;
	left: -11px;
  top: -5px;
  color: black;
  font-size: 20px;
}
.compareD.circle{
	cursor:pointer;
}
.compareD.circle.selected{
	stroke-width : 2px;
	stroke: black;
}