.departmentG{
	visibility: visible;
}
.departmentButton{
	margin : 1px;
	color: #000 !important;
	font-weight: bold;
	padding: 3px 6px;
}

.departmentButton:not(.active) {
	opacity: 0.3;
}

.matrixLink.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.matrixLink.link {
	stroke: #999;
	stroke-opacity: 1;
	visibility:visible;
}

.matrixLink.line{
	stroke: #fff;
	stroke-width: 0.8;
	pointer-events : none;
}

.matrixLink.text{
	cursor:pointer;
}
.matrixLink.text.selected{
	fill:red;
}

.matrixLink.title{
	text-anchor : middle ;
	font-size: 14px;
}

.matrixLink.background{
	fill: #eee;
	stroke-width: 6;
	opacity: 1;
}
.matrixLink.background.drag{
	/* stroke:blue; */
	stroke-width: 4;
}

.matrixLink.background.related{
	stroke:purple !important; 
}

.matrixLink.background.selected{
	/* stroke:blue; */
	stroke-width: 10;
}

.matrixLink.cell{
	pointer-events : none;
	fill : rgb(44, 160, 44);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
