.departmentG{
	visibility: visible;
}
.departmentButton{
	margin : 1px;
	color: #000 !important;
	font-weight: bold;
	padding: 1px 3px;
}
.checkboxButton{
	margin : 3px;
	padding: 5px 3px;
	width: 110px;
}

.departmentButton:not(.active) {
	opacity: 0.3;
}

.panel-body{
	padding: 10px 8px;
	}
.panel-title > a{
	font-size:80%
}

.matrixLinkBenchmarkSelect{
	position: absolute;
	top:0px;left:0px;
	width:100%;
	height:100%;
	background-color: rgba(0,0,255,0.4);
}
.matrixLinkBenchmarkSelectDiv{
	position:absolute;
	top:4%;
	bottom:4%;
	left:4%;
	right:4%;
	background-color:white;
	padding:0 px;
}

.matrixLinkBenchmarkSelectDiv2{
	position:absolute;
	top:1%;
	bottom:1%;
	left:1%;
	right:1%;
	background-color:white;
	padding:0 px;
}

.matrixLink.selectLi{
	list-style: none;
}
.matrixLink.selectLi:before{
  /* For a round bullet */
  /* content: '\2022'; */
  /* For a square bullet */
  content:'\25A0';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -11px;
  top: -5px;
  color: green;
  font-size: 20px;
}

.matrixLink.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.matrixLink.link {
	stroke: #999;
	stroke-opacity: 1;
	visibility:visible;
}

.matrixLink.line{
	stroke: #fff;
	stroke-width: 0.8;
	pointer-events : none;
}

.matrixLink.text{
	cursor:pointer;
	font-size: 120%;
}
.matrixLink.text.selected{
	fill:red;
}

.matrixLink.textBackground{
	fill:white;
	opacity: 0.8;
}

.matrixLink.title{
	text-anchor : middle ;
	font-size: 14px;
}

.matrixLink.background{
	fill: #eee;
	stroke-width: 4;
	opacity: 1;
}
.matrixLink.background.drag{
	/* stroke:blue; */
	stroke-width: 3;
}

.matrixLink.background.related{
	stroke:purple !important; 
}

.matrixLink.background.selected{
	/* stroke:blue; */
	stroke-width: 6;
}

.matrixLink.cell{
	pointer-events : none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
